html {
  min-height: 100%;
}
body.auth-body {
  height: 100vh;
  background-image: linear-gradient(0deg, #79F1A4 10%, #0E5CAD 100%);
}
body.auth-body h1 {
  color: #ffffff;
}
body.main-body {
  background-color: #f2f2f2;
}
.form-check-input {
  margin-top: 0.4rem;
}
.auth-main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.auth-registration-link {
  position: absolute;
  top: 15px;
  right: 15px;
  text-decoration: underline;
  color: #ffffff;
}
.auth-registration-link:hover,
.auth-registration-link:focus,
.auth-registration-link:active {
  text-decoration: none;
  color: #ffffff;
}
.auth-form {
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 30px;
  max-width: 460px;
  background-color: rgba(255, 255, 255, 0.6);
}
.avatar {
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  background-color: #ffffff;
}
.avatar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.avatar-name {
  margin-bottom: 0;
  font-size: 14px;
}
.btn .fas {
  position: relative;
  bottom: -1px;
}
.page-wrapper {
  padding: 24px 0;
}
.content {
  padding-top: 64px;
}
.content .card {
  max-width: 1100px;
}
.vacations-table {
  overflow: hidden;
}
.vacations-table tr td {
  cursor: pointer;
}

.table-responsive {
  position: relative;
}

.table-row:hover .action-block {
  transform: translateX(1px);
}

.spinner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f669;
  z-index: 2;
}

.action-block {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 178px;
  transform: translateX(205px);
  transition: all 0.5s ease-in-out;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}