html {
  min-height: 100%;
}
body {
  min-height: 100vh;
}
body.auth-body {
  height: 100vh;
  background-image: linear-gradient(0deg, #79F1A4 10%, #0E5CAD 100%);
}
body.auth-body h1 {
  color: #ffffff;
}
body.main-body {
  background-color: #f2f2f2;
}
.form-check-input {
  margin-top: 0.4rem;
}
.btn .fas {
  position: relative;
  bottom: -1px;
}
/****AUTH****/
.auth-main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.auth-registration-link {
  position: absolute;
  top: 15px;
  right: 15px;
  text-decoration: underline;
  color: #ffffff;
}
.auth-registration-link:hover,
.auth-registration-link:focus,
.auth-registration-link:active {
  text-decoration: none;
  color: #ffffff;
}
.auth-form {
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 30px;
  max-width: 460px;
  background-color: rgba(255, 255, 255, 0.6);
}
/****MAIN****/
/*Header*/
.avatar {
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  background-color: #ffffff;
}
.avatar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.avatar-name {
  margin-bottom: 0;
  font-size: 14px;
}
.logout {
  margin-left: 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
}
.logout a {
  margin-left: 8px;
  color: #ffffff;
}
/*Content*/
.page-wrapper {
  padding: 24px 0;
}
.content {
  padding-top: 56px;
}
.spinner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f669;
  z-index: 2;
}
.flag {
  position: relative;
  top: -2px;
  margin-right: 16px;
  max-width: 40px;
}
/*Home*/
.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}
.filter-label {
  margin-right: 16px;
}
.filter-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.filter .form-control {
  max-width: 300px;
}
.vacation-table-wrapper {
  max-height: 600px;
}
.vacations-table {
  overflow: hidden;
}
.vacations-table tr td {
  cursor: pointer;
}
.table-responsive {
  position: relative;
}
.table-row:hover .action-block {
  opacity: 1;
}
.action-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100px;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/*Create vacation*/
.country-info {
  height: 100%;
}
.country-info p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.country-info p > strong {
  margin-right: 8px;
}
.country-info span span {
  display: block;
}
.map-wrapper {
  margin-top: 32px;
}
#map {
  height: 300px;
}
/*Vacation*/
.vacation-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: -webkit-calc(46vh);
  height: calc(100vh - 54px);
}
.vacation-page-main {
  position: relative;
  padding: 16px 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.vacation-btns-bar {
  position: absolute;
  top: 16px;
  right: 16px;
}
.vacation-page-title .flag {
  max-width: 50px;
}
.widget-menu-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 16px;
  width: 300px;
  background-color: #3c4146;
}
.widget-menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding: 8px 15px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.widget-menu-item:last-child {
  border-bottom: 0;
}
.widget-menu-item:hover {
  background-color: #343a40;
}
.widget-card-wrapper {
  margin-bottom: 24px;
}
.widget-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
