@import "variables";
html {
    min-height: 100%;
}
body {
    min-height: 100vh;
    &.auth-body {
        height: 100vh;
        //color: #ffffff;
        //background-color: #062c33;
        background-image: linear-gradient( 0deg, #79F1A4 10%, #0E5CAD 100%);
        h1 {
            color: #ffffff;
        }
    }
    &.main-body {
        background-color: #f2f2f2;
    }
}
.form-check-input {
    margin-top: 0.4rem;
}
.btn .fas {
    position: relative;
    bottom: -1px;
}

/****AUTH****/
.auth-main {
    position: relative;
    .flex();
    .flex-center();
    .align-items-center();
    height: 100%;
}
.auth-registration-link {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: underline;
    color: #ffffff;
    //color: #212529;
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #ffffff;
        //color: #212529;
    }
}
.auth-form {
    margin: 0 auto;
    .border-radius(8px);
    padding: 30px;
    max-width: 460px;
    background-color: fade(#ffffff, 60%);
}

/****MAIN****/
/*Header*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    + .page-wrapper {
        padding-top: 80px;
    }
}
.avatar {
    margin-right: 8px;
    .border-radius(50%);
    height: 32px;
    width: 32px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    background-color: #ffffff;
    &-wrapper {
        .flex();
        .align-items-center();
        .flex-start();
    }
    &-name {
        margin-bottom: 0;
        font-size: 14px;
    }
}
.logout {
    margin-left: 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #ffffff;
    a {
        margin-left: 8px;
        color: #ffffff;
    }
}

/*Content*/
.page-wrapper {
    padding: 24px 0;
}
.content {
    padding-top: 56px;
}
.spinner-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    .flex();
    .flex-center();
    .align-items-center();
    background-color: #f6f6f669;
}
.flag {
    position: relative;
    top: -2px;
    margin-right: 16px;
    max-width: 40px;
}

/*Home*/
.filter {
    .flex();
    .space-between();
    .align-items-center();
    margin-bottom: 24px;
    &-label {
        margin-right: 16px;
    }
    &-search {
        .flex();
        .align-items-center();
    }
    .form-control {
        max-width: 300px;
    }
}
.vacation-table-wrapper {
    max-height: 600px;
}
.vacations-table {
    overflow: hidden;
}
.vacations-table tr td {
    cursor: pointer;
}
.table-responsive {
    position: relative;
}
.table-row:hover .action-block {
    opacity: 1;
}
.action-block {
    .flex();
    .space-around();
    .align-items-center();
    height: 100%;
    width: 100px;
    background-color: transparent;
    opacity: 0;
    .transition();
}

/*Create vacation*/
.country-info {
    height: 100%;
    p {
        .flex();
        .flex-start();
        > strong {
            margin-right: 8px;
        }
    }
    span span {
        display: block;
    }
}
.map-wrapper {
    margin-top: 32px;
}
#map {
    z-index: 1;
    height: 300px;
}

/*Vacation*/
.vacation-page {
    padding-top: 54px;
    &-main {
        position: relative;
        padding: 16px 0 16px 250px;
        .flex-grow(1);
    }
}
.vacation-btns-bar {
    position: absolute;
    top: 16px;
    right: 16px;
}
.vacation-page-title {
    .flag {
        max-width: 50px;
    }
}
.widget-menu-wrapper {
    position: fixed;
    top: 54px;
    left: 0;
    z-index: 90;
    padding-top: 16px;
    width: 250px;
    height: 100%;
    background-color: #3c4146;
}
.widget-menu {
    &-item {
        .flex();
        .space-between();
        .align-items-center();
        border-bottom: 1px solid #ffffff;
        padding: 8px 15px;
        .transition();
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            background-color: #343a40;
        }
    }
}
.widget-card-wrapper {
    margin-bottom: 24px;
}
.widget-header {
    .flex();
    .space-between();
    .align-items-center();
}
.time {
    font-size: 40px;
}
.time-sun-info {
    .flex();
    .flex-center();
    .flex-wrap();
    p {
        margin-right: 24px;
    }
}
.weather-item-header {
    .flex();
    .flex-start();
    .align-items-center();
}
.weather-date {
    margin-right: 16px;
    font-weight: bold;
    font-size: 1.2em;
}
.weather-item {
    border-bottom: 1px solid rgba(0,0,0,.125);
    &:nth-child(3),
    &:last-child {
        padding-top: 1em;
        border-bottom: none;
    }
    &:nth-child(3),
    &:first-child {
        border-right: 1px solid rgba(0,0,0,.125);
    }
    &-time {
        text-decoration: underline;
    }
}
.empty-widget,
.empty-map {
    .flex();
    .flex-direction-column();
    .flex-center();
    .align-items-center();
    padding: 15px;
    background-color: rgba(0,0,0,.03);
    text-align: center;
    i {
        display: block;
        margin-bottom: 24px;
    }
    span {
        display: block;
    }
}
.budget-category {
    margin-bottom: 32px;
}
.budget-table-body {
    display: none;
    &.open {
        display: table-row-group;
    }
}
.budget-table-price-cell {
    width: 80px;
    text-align: right;
}
.budget-table-header-cell {
    cursor: pointer;
    span {
        &::before {
            content: '\f107';
            margin-right: 8px;
            font-family: "Font Awesome 5 Free";
        }
    }
    &.open {
        span {
            &::before {
                content: '\f106';
                font-family: "Font Awesome 5 Free";
            }
        }
    }
}
.budget-categories-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 469px;
}
.budget-category-form {
    .space-between();
    .flex-wrap();
    display: none;
    &.open {
        .flex();
    }
    input {
        margin-right: 8px;
    }
    .btn {
        .flex-shrink(0);
        .flex-grow(0);
        width: 32px;
    }
    .invalid-feedback {
        width: 100%;
    }
}
.budget-category-form-name {
    width: calc(100% - 128px);
}
.budget-category-form-price {
    .flex-shrink(0);
    .flex-grow(0);
    width: 80px;
}

/*=POPUP=*/
.popup-bg {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.75);
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 475px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.popup-content {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 40px 32px 32px;
    background-color: #ffffff;
}
.popup-close {
    position: absolute;
    top: 16px;
    right: 16px;
    .flex();
    .flex-center();
    .align-items-center();
    padding: 0;
    width: 32px;
    height: 32px;
    color: #343a40;
    cursor: pointer;
    .transition();
    &:hover, &:active, &:focus {
        color: #007bff;
    }
}
.popup-title {
    margin-bottom: 32px;
}
