<section class="auth-main">
    <a href="/auth/login" class="auth-registration-link">Уже зарегистрированы?</a>
    <div class="container">
        <h1 class="text-center text-uppercase mb-5">Мой отпуск</h1>
        <form action="" class="auth-form">
            <div class="form-group">
                <label for="regLogin">Логин</label>
                <input type="text" class="form-control" id="regLogin" name="regLogin">
                <small id="regLoginHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="regPassword">Пароль</label>
                <input type="password" class="form-control" id="regPassword" name="regPassword">
                <small id="regPasswordHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="regConfirmPassword">Подтверждение пароля</label>
                <input type="password" class="form-control" id="regConfirmPassword" name="regConfirmPassword">
                <small id="regConfirmPasswordHelp" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-success btn-block">Зарегистрироваться</button>
        </form>
    </div>
</section>
