<div class="container-fluid vacation-page">
    <h1 id="vacation-country" class="vacation-page-title"></h1>
    <p id="vacation-dates" class="text-black-50"></p>
    <div class="vacation-btns-bar">
        <button id="edit-vacation-btn" class="btn btn-sm btn-warning" type="button">
            <i class="fas fa-pen"></i>
        </button>
        <button id="remove-vacation-btn" class="btn btn-sm btn-danger" type="button">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>

    <div class="content">
    </div>
</div>
